* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/background.png);
  margin: 12px;
  min-width: 350px;
  min-height: 550px;
  font-family: Helvetica, Arial, sans-serif;
}

.notice {
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  padding: 15px;
  margin-bottom: 20px;
}

.copyright {
  font-size: 0.8em;
  color: #666;
  font-style: italic;
}

.copyright a:link,
.copyright a:visited {
  color: #666;
}

h1 {
  font-size: 1.1em;
  margin-top: 6px;
  margin-bottom: 6px;
}

h2 {
  font-size: 1em;
  margin-top: 12px;
  margin-bottom: 6px;
}

input {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
}

label {
  display: block;
}
